// General imports
@import 'normalize/import-now';
@import 'breakpoint';
@import 'susy';
@import url('https://use.typekit.net/qru3ayc.css');

// Settings
@import 'settings/fonts';
@import 'settings/breakpoints';

// Mixins

// Base
@import 'base/base';

// Modules
@import 'modules/m-intro';

.m-logo {
    position: absolute;
    z-index: 301;
    top: 1.5em;
    left: 1.5em;
    transform: scale(0);

    .no-js & {
        transform: scale(1);
    }

    @include breakpoint($bpDesktopSmall) {
        left: 2em;
        top: 2em;
    }

    @include breakpoint($bpDesktop) {
        left: 3em;
        top: 3em;
    }

    svg {
        display: block;
        width: 120px;

        @include breakpoint($bpDesktop) {
            width: 200px;
        }
    }
}

.m-social {

    & {
        position: relative;
        z-index: 501;
        margin: auto 0 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    li {
        transform: scale(0);

        &:last-child {
            margin: 0;
        }

        .no-js & {
            transform: scale(1);
        }
    }

    svg {
        width: 24px;
        height: 24px;
        display: block;
    }
}

.m-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;

    .no-js & {
        opacity: 1;
        transition: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100%);
        transform-origin: 0 0;
        background: rgba(#fff, 0.9);
        transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);

        @include breakpoint($bpDesktopSmall) {
            width: 70vw;
        }

        .no-js & {
            transform: translateX(0);
            transition: none;
        }
    }

    &__inner {
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);

        .no-js & {
            display: none;
        }

        &:first-child {
            
            .no-js & {
                display: block;
            }
        }

        &.is-active {
            visibility: visible;
            opacity: 1;
        }
    }

    &.is-active {
        opacity: 1;
    }

    &.is-shrunken {

        &::after {
            transform: translateX(0);
        }
    }
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}