extends ./views/_layout.pug
block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home'

block content
	.l-intro
		.l-intro__slider
			.m-slider
				.m-slider__slides
					.m-slider__slide(style='background-image:url(/assets/img/arden.jpg)')
					.m-slider__slide(style='background-image:url(/assets/img/lisbon.jpg)')
		.l-intro__content
			.m-intro
				.m-intro__bg
				.m-intro__textWrap
					h1.m-intro__title#arden
						each intro in content.intro
							| !{intro}
					.m-intro__text#ardenSmall
						each introSmall in content.introSmall
							| !{introSmall}
				.m-intro__social
					.m-social
						ul
							li.m-social__li.m-social__li--github
								a(href='https://github.com/aderaaij/' title="Arden de Raaij on Github" target="_blank" rel="noopener")
									+svg('icon-github', '0 0 32 32', 'm-social__icon')
							li.m-social__li.m-social__li--codepen
								a(href='https://codepen.io/aderaaij/' title="Arden de Raaij on Codepen" target="_blank" rel="noopener")
									+svg('icon-codepen', '0 0 32 32', 'm-social__icon')
							li.m-social__li.m-social__li--linkedin
								a(href='https://www.linkedin.com/in/ardenderaaij/' title="Arden de Raaij on LinkedIn" target="_blank" rel="noopener")
									+svg('icon-linkedin', '0 0 32 32', 'm-social__icon')
							li.m-social__li.m-social__li--instagram
								a(href='https://instagram.com/ardennl/' title="Arden de Raaij on LinkedIn" target="_blank" rel="noopener")
									+svg('icon-instagram', '0 0 32 32', 'm-social__icon')
							li.m-social__li.m-social__li--twitter
								a(href='http://twitter.com/ardennl' title="Arden de Raaij on Twitter" target="_blank" rel="noopener")
									+svg('icon-twitter', '0 0 32 32', 'm-social__icon')
							li.m-social__li.m-social__li--mail
								a(href='mailto:a.de.raaij@gmail.com' title="Send an e-mail to Arden de Raaij" target="_blank" rel="noopener")
									+svg('icon-paperplane', '0 0 32 32', 'm-social__icon')
									